*{
	box-sizing: border-box;
}
.navbar {
    background-color: #181d22;
    font-family: 'Staatliches', Courier, monospace;
    font-size: 1.2em;
    letter-spacing: 1px;
    padding: 3px;
}
.navbar-dark .navbar-toggler{
    border: 1px solid white;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #000;
}
.jumbotron{
	background-color: #ffffff;
	padding-bottom: 1em;
}
a{
    color: azure;
    padding-left: 30px;
}
.collapse{
    justify-content: flex-end;
    text-align: center;
}
.active{
    background-color: azure;
}
.active > a{
    color: black;
}
a:hover{
    color: beige;
}
h1{
    font-size: 3vw;
}
ul > li{
    padding-right: 15px;
    padding-left: 15px;
}
.tab{
	width:100%;
	padding: 40px;
<<<<<<< HEAD
    font-size: 1.5vw;
=======
    font-size: 1em;
>>>>>>> b77073a0df5536703f69d45ac383251e0d90d561
}
td{
	padding-right:40px;
	padding-bottom:20px;
}
.des{
	text-align: justify;
}
hr{
    background-color: #505050;
}
table.prod{
	padding:40px;
}
.main-body{
    margin-left: 50px;
    margin-right: 50px;
}
.box{
	width: auto;
    text-align: center;
}
.names{
    font-family: 'Overpass Mono', monospace;
    font-size: 1.5em;
    font-weight:bold;
    color: black;
    padding: 0px;
}
.box a:hover{
    color: grey;
}
.about{
    font-family:Monospace; 
    font-size:2em; 
    text-align:justify
}
.end{
    background-color: #08090a;
    text-align: center;
    color: darkgrey;
    font-size: 0.6em;
    padding: 5px;
    clear: both;
}
.spacer{
    height: 50px;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
body, nav{
    width: auto;
}
.tab{
    font-size: 0.5em;
}
<<<<<<< HEAD
@media (max-width: 920px){
.navbar-brand{
    font-size: 1.2em;
    letter-spacing: 2.5px;
=======
.display-4{
    font-size: 2.5rem;
>>>>>>> b77073a0df5536703f69d45ac383251e0d90d561
}
h1,h4 {
    font-size: 1.4em;
}
table{
    font-size: 0.8em;
}
.about{
    font-size: 1.3em;
}
}